* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body {
  background-color: #ffffff;
  color: #323232;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.container {
  width: 100%;
  max-width: 976px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }

.header {
  height: 102px;
  background-color: #282d30; }
  .header .logo {
    text-align: center; }
    .header .logo-img {
      margin-top: 6px; }

.choose {
  margin-top: 67px;
  margin-bottom: 158px; }
  .choose-title {
    margin-bottom: 57px;
    color: #282d30;
    font-size: 42px;
    font-weight: 700;
    text-align: center; }
  .choose-form input {
    height: 40px;
    border: 1px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    width: 100%;
    padding-left: 10px;
    color: #111111;
    font-size: 12px;
    font-weight: 400; }
    .choose-form input:hover {
      border-bottom: 2px solid #c4092f;
      cursor: pointer; }
    .choose-form input:focus {
      border-bottom: 2px solid #111111; }
    .choose-form input::-webkit-input-placeholder {
      color: #999999; }
    .choose-form input::-moz-placeholder {
      color: #999999; }
    .choose-form input:-moz-placeholder {
      color: #999999; }
    .choose-form input:-ms-input-placeholder {
      color: #999999; }
    .choose-form input:focus::-webkit-input-placeholder {
      color: transparent; }
    .choose-form input:focus::-moz-placeholder {
      color: transparent; }
    .choose-form input:focus:-moz-placeholder {
      color: transparent; }
    .choose-form input:focus:-ms-input-placeholder {
      color: transparent; }
  .choose-form label {
    display: none;
    position: absolute;
    margin-left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #999999;
    font-size: 12px;
    font-weight: 400; }
  .choose-form .first-line {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .choose-form .first-line_wrap {
      max-width: 31.7%;
      width: 100%;
      margin-right: 25px;
      position: relative; }
      .choose-form .first-line_wrap:last-child {
        margin-right: 0; }
  .choose-form .second-line {
    position: relative;
    margin-top: 30px; }
    .choose-form .second-line input {
      width: 100%;
      padding-left: 10px;
      color: #111111;
      font-size: 12px;
      font-weight: 400; }
    .choose-form .second-line input:hover {
      border-bottom: 2px solid #c4092f;
      cursor: pointer; }
    .choose-form .second-line input:focus {
      border-bottom: 2px solid #111111; }
  .choose-form .third-line {
    position: relative;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .choose-form .third-line .color {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 31.7%;
      width: 100%;
      margin-right: 25px; }
      .choose-form .third-line .color .name-color {
        position: absolute;
        bottom: 80%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #999999;
        font-size: 12px;
        font-weight: 400; }
    .choose-form .third-line label {
      position: relative; }
      .choose-form .third-line label:hover {
        cursor: pointer; }
    .choose-form .third-line input[type="checkbox"] {
      display: none; }
    .choose-form .third-line #white + label {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 23px;
      margin-left: 0;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 50%; }
    .choose-form .third-line #white:checked + label {
      border: 4px solid #c4092f; }
    .choose-form .third-line #black + label {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 23px;
      margin-left: 0;
      background-color: #000000;
      border-radius: 50%; }
    .choose-form .third-line #black:checked + label {
      border: 4px solid #c4092f; }
    .choose-form .third-line #gray + label {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 23px;
      margin-left: 0;
      background-color: #cbcbcc;
      border-radius: 50%; }
    .choose-form .third-line #gray:checked + label {
      border: 4px solid #c4092f; }
    .choose-form .third-line #red + label {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 23px;
      margin-left: 0;
      background-color: #d74345;
      border-radius: 50%; }
    .choose-form .third-line #red:checked + label {
      border: 4px solid #c4092f; }
    .choose-form .third-line #green + label {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 0;
      background-color: #88c504;
      border-radius: 50%; }
    .choose-form .third-line #green:checked + label {
      border: 4px solid #c4092f; }
    .choose-form .third-line #select {
      max-width: 31.7%;
      width: 100%;
      border: 1px solid #dcdcdc;
      border-bottom: 2px solid #dcdcdc;
      margin-right: 25px;
      color: #999999;
      font-size: 12px;
      font-weight: 400; }
      .choose-form .third-line #select:hover {
        cursor: pointer;
        border-bottom: 2px solid #c4092f; }
      .choose-form .third-line #select option {
        margin-top: 10px;
        margin-bottom: 10px; }
    .choose-form .third-line .choose-btn {
      max-width: 31.7%;
      width: 100%;
      padding: 0;
      border: none;
      border-radius: 4px;
      background-color: #c4092f;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 40px; }
      .choose-form .third-line .choose-btn:hover {
        cursor: pointer; }
      .choose-form .third-line .choose-btn .img-btn {
        margin-left: 5px; }

.auto-stock {
  margin-bottom: 330px;
  color: #282d30;
  font-size: 15px;
  font-weight: 300; }
  .auto-stock_title {
    margin-bottom: 30px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-left: 3px solid #8b9497; }
  .auto-stock .wrap-tabel {
    background-color: #f5f6f6; }
  .auto-stock .table-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #c4092f;
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px 5px 0 0; }
    .auto-stock .table-header_p {
      display: inline-block;
      line-height: 40px; }
    .auto-stock .table-header .p-one {
      padding-left: 15px;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .auto-stock .table-header .p-year {
      -ms-flex-preferred-size: 6.25%;
      flex-basis: 6.25%; }
    .auto-stock .table-header .p-color {
      -ms-flex-preferred-size: 6.25%;
      flex-basis: 6.25%; }
    .auto-stock .table-header .p-status {
      -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%; }
    .auto-stock .table-header .p-price {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.list-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdcdc; }
  .list-all:last-child {
    border-bottom: none; }

.list-description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding-left: 15px; }
  .list-description span {
    color: #8b9497;
    font-size: 13px;
    font-weight: 300; }

.list-year {
  -ms-flex-preferred-size: 6.25%;
  flex-basis: 6.25%; }

.list-color {
  -ms-flex-preferred-size: 6.25%;
  flex-basis: 6.25%;
  -ms-flex-item-align: end;
  align-self: end; }
  .list-color_w {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    -webkit-transform: translateY(10%);
    transform: translateY(10%); }
  .list-color_black {
    background-color: #000000; }
  .list-color_white {
    background-color: #ffffff;
    border: 1px solid #dddddd; }
  .list-color_gray {
    background-color: #cbcbcc; }
  .list-color_red {
    background-color: #d74345; }
  .list-color_green {
    background-color: #88c504; }

.list-status {
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%; }

.list-price {
  font-size: 16px;
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%; }

.list-btn {
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%;
  text-align: center; }
  .list-btn_del {
    padding: 5px 15px;
    color: #8b9497;
    font-size: 14px;
    background-color: transparent;
    border: none; }
    .list-btn_del:hover {
      background-color: #282d30;
      color: white;
      border-radius: 15px;
      cursor: pointer; }

.footer {
  padding: 35px 0px;
  background-color: #282d30; }
  .footer-des {
    color: #ffffff;
    font-size: 11px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@media (max-width: 920px) {
  .auto-stock .table-header .p-one {
    margin-right: 10px; }
  .list-description {
    margin-right: 10px; } }

@media (max-width: 850px) {
  .choose {
    margin-bottom: 100px; } }

@media (max-width: 720px) {
  .choose {
    margin-bottom: 40px; }
  .auto-stock {
    margin-bottom: 425px; }
    .auto-stock .table-header .p-one {
      padding-left: 15px;
      -ms-flex-preferred-size: 43%;
      flex-basis: 43%; }
    .auto-stock .table-header .p-year {
      -ms-flex-preferred-size: 3.5%;
      flex-basis: 3.5%;
      margin-right: 20px; }
    .auto-stock .table-header .p-color {
      -ms-flex-preferred-size: 3.5%;
      flex-basis: 3.5%;
      margin-right: 14px; }
    .auto-stock .table-header .p-status {
      -ms-flex-preferred-size: 16%;
      flex-basis: 16%; }
    .auto-stock .table-header .p-price {
      -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
      padding-left: 10px; }
  .list-description {
    -ms-flex-preferred-size: 43%;
    flex-basis: 43%;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .list-description span {
      white-space: normal; }
  .list-year {
    -ms-flex-preferred-size: 3.5%;
    flex-basis: 3.5%;
    margin-right: 20px; }
  .list-color {
    -ms-flex-preferred-size: 3.5%;
    flex-basis: 3.5%;
    margin-right: 24px; }
  .list-status {
    -ms-flex-preferred-size: 16%;
    flex-basis: 16%; }
  .list-price {
    -ms-flex-preferred-size: 19%;
    flex-basis: 19%;
    padding-left: 10px; }
  .list-btn {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%; } }

@media (max-width: 600px) {
  .auto-stock_title {
    display: none; }
  .auto-stock .table-header {
    display: none; }
  .choose {
    margin-bottom: 55px; }
    .choose-form .third-line #white + label {
      margin-right: 10px; }
    .choose-form .third-line #black + label {
      margin-right: 10px; }
    .choose-form .third-line #gray + label {
      margin-right: 10px; }
    .choose-form .third-line #red + label {
      margin-right: 10px; }
  .header {
    height: 91px; }
    .header .logo {
      margin: 0 auto;
      max-width: 450px; }
    .header .logo-img {
      width: 100%; } }

@media (max-width: 550px) {
  .auto-stock {
    margin-bottom: 0;
    font-size: 14px; }
    .auto-stock .container {
      background-color: #f5f6f6; }
  .list-price {
    font-size: 14px; }
  .list-all {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .list-description {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    margin-right: 0;
    padding-left: 5px;
    white-space: normal; }
  .list-color {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-item-align: auto;
    align-self: auto; }
    .list-color_w {
      -webkit-transform: translateY(20%);
      transform: translateY(20%); }
  .list-price {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 0; }
  .list-year {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    margin-right: 15px; }
  .list-status {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin-top: 25px;
    padding-left: 5px; }
  .list-btn {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; } }

@media (max-width: 500px) {
  .choose {
    margin-top: 47px; }
    .choose-title {
      margin-bottom: 47px; }
    .choose-form .first-line {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .choose-form .first-line_wrap {
        margin-right: 0;
        max-width: 48%; }
      .choose-form .first-line_name {
        max-width: 100%;
        margin-bottom: 30px; }
      .choose-form .first-line_year {
        margin-right: 4%; }
    .choose-form .third-line {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 40px; }
      .choose-form .third-line .color {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        position: relative; }
        .choose-form .third-line .color .name-color {
          bottom: 100%; }
      .choose-form .third-line #select {
        max-width: 48%;
        margin-right: 4%;
        padding-left: 5px; }
      .choose-form .third-line .choose-btn {
        max-width: 48%; }
  .list-color {
    margin-right: 0; }
  .list-price {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
  .list-status {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; } }

@media (max-width: 420px) {
  .header {
    height: 81px; }
    .header .logo {
      max-width: 297px; }
      .header .logo-img {
        margin-top: 15px; }
  .choose {
    margin-top: 30px; }
    .choose-title {
      margin-bottom: 30px; }
  .list-description {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
    margin-right: 4%; }
  .list-year {
    -ms-flex-preferred-size: 15.6666%;
    flex-basis: 15.6666%;
    margin-right: 0;
    padding-left: 5px; }
  .list-color {
    -ms-flex-preferred-size: 5.75%;
    flex-basis: 5.75%; }
  .list-status {
    -ms-flex-preferred-size: 47.3333%;
    flex-basis: 47.3333%;
    padding-left: 0; }
  .list-price {
    -ms-flex-preferred-size: 35.25%;
    flex-basis: 35.25%;
    padding-left: 8%; }
  .list-btn {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; } }

@media (max-width: 350px) {
  .list-price {
    padding-left: 4%; } }
