*
	box-sizing: border-box
	outline: none
body
	background-color: #ffffff
	color: #323232
	font-family: 'Roboto', sans-serif
	font-weight: 300
.container
	width: 100%
	max-width: 976px
	padding-right: 10px
	padding-left: 10px
	margin-right: auto
	margin-left: auto
.header
	height: 102px
	background-color: #282d30
	.logo
		text-align: center
		&-img
			margin-top: 6px
.choose
	margin-top: 67px
	margin-bottom: 158px
	&-title
		margin-bottom: 57px
		color: #282d30
		font-size: 42px
		font-weight: 700
		text-align: center
	&-form
		input
			// width: 31.7%
			height: 40px
			border: 1px solid #dcdcdc
			border-bottom: 2px solid #dcdcdc
			width: 100%
			padding-left: 10px
			color: #111111
			font-size: 12px
			font-weight: 400
			&:hover
				border-bottom: 2px solid #c4092f
				cursor: pointer
			&:focus
				border-bottom: 2px solid #111111
			&::-webkit-input-placeholder
				color: #999999
			&::-moz-placeholder
				color: #999999
			&:-moz-placeholder
				color: #999999
			&:-ms-input-placeholder
				color: #999999
			&:focus::-webkit-input-placeholder
				color: transparent
			&:focus::-moz-placeholder
				color: transparent
			&:focus:-moz-placeholder
				color: transparent
			&:focus:-ms-input-placeholder
				color: transparent
		label
			display: none
			position: absolute
			margin-left: 10px
			top: 50%
			transform: translateY(-50%)
			color: #999999
			font-size: 12px
			font-weight: 400
		.first-line
			position: relative
			display: flex
			&_wrap
				max-width: 31.7%
				width: 100%
				margin-right: 25px
				position: relative
				&:last-child
					margin-right: 0
		.second-line
			position: relative
			margin-top: 30px
			input
				width: 100%
				padding-left: 10px
				color: #111111
				font-size: 12px
				font-weight: 400
			& input
				&:hover
					border-bottom: 2px solid #c4092f
					cursor: pointer
				&:focus
					border-bottom: 2px solid #111111
		.third-line
			position: relative
			margin-top: 30px
			display: flex
			justify-content: space-between
			.color
				display: flex
				max-width: 31.7%
				width: 100%
				margin-right: 25px
				.name-color
					position: absolute
					bottom: 80%
					transform: translateY(-50%)
					color: #999999
					font-size: 12px
					font-weight: 400
			label
				position: relative
				&:hover
					cursor: pointer
			input[type="checkbox"]
				display: none
			#white 
				& + label
					display: inline-block
					width: 20px
					height: 20px
					margin-right: 23px
					margin-left: 0
					background-color: #ffffff
					border: 1px solid #dddddd
					border-radius: 50%
				&:checked + label
					border: 4px solid #c4092f
			#black 
				& + label
					display: inline-block
					width: 20px
					height: 20px
					margin-right: 23px
					margin-left: 0
					background-color: #000000
					border-radius: 50%
				&:checked + label
					border: 4px solid #c4092f
			#gray 
				& + label
					display: inline-block
					width: 20px
					height: 20px
					margin-right: 23px
					margin-left: 0
					background-color: #cbcbcc
					border-radius: 50%
				&:checked + label
					border: 4px solid #c4092f
			#red 
				& + label
					display: inline-block
					width: 20px
					height: 20px
					margin-right: 23px
					margin-left: 0
					background-color: #d74345
					border-radius: 50%
				&:checked + label
					border: 4px solid #c4092f
			#green 
				& + label
					display: inline-block
					width: 20px
					height: 20px
					margin-left: 0
					background-color: #88c504
					border-radius: 50%
				&:checked + label
					border: 4px solid #c4092f

			#select
				max-width: 31.7%
				width: 100%
				border: 1px solid #dcdcdc
				border-bottom: 2px solid #dcdcdc
				margin-right: 25px
				color: #999999
				font-size: 12px
				font-weight: 400
				&:hover
					cursor: pointer
					border-bottom: 2px solid #c4092f
				option
					margin-top: 10px
					margin-bottom: 10px
			.choose-btn
				// width: 303px
				max-width: 31.7%
				width: 100%
				padding: 0
				border: none
				border-radius: 4px
				background-color: #c4092f
				color: #ffffff
				font-size: 16px
				font-weight: 700
				text-transform: uppercase
				line-height: 40px
				&:hover
					cursor: pointer
				.img-btn
					margin-left: 5px
.auto-stock
	margin-bottom: 330px
	color: #282d30
	font-size: 15px
	font-weight: 300
	&_title
		margin-bottom: 30px
		padding-left: 10px
		font-size: 20px
		font-weight: 700
		text-transform: uppercase
		border-left: 3px solid #8b9497
	.wrap-tabel
		background-color: #f5f6f6
	.table-header
		display: flex
		background-color: #c4092f
		color: #ffffff
		font-weight: 500
		border-radius: 5px 5px 0 0
		&_p
			display: inline-block
			line-height: 40px
		.p-one
			padding-left: 15px
			flex-basis: 50%
		.p-year
			flex-basis: 6.25%
		.p-color
			flex-basis: 6.25%
		.p-status
			flex-basis: 12.5%
		.p-price
			flex-basis: 25%
.list-all
	display: flex
	align-items: baseline
	padding-top: 15px
	padding-bottom: 15px
	border-bottom: 1px solid #dcdcdc
	&:last-child
		border-bottom: none
.list-description
	flex-basis: 50%
	padding-left: 15px
	span
		color: #8b9497
		font-size: 13px
		font-weight: 300
.list-year
	// margin-right: 40px
	flex-basis: 6.25%
.list-color
	flex-basis: 6.25%
	align-self: end
	&_w
		width: 20px
		height: 20px
		border-radius: 50%
		position: relative
		transform: translateY(10%)
	&_black
		background-color: #000000
	&_white
		background-color: #ffffff
		border: 1px solid #dddddd
	&_gray
		background-color: #cbcbcc
	&_red
		background-color: #d74345
	&_green
		background-color: #88c504
.list-status
	flex-basis: 12.5%
.list-price
	font-size: 16px
	flex-basis: 12.5%
.list-btn
	flex-basis: 12.5%
	text-align: center
	&_del
		padding: 5px 15px
		color: #8b9497
		font-size: 14px
		background-color: transparent
		border: none
		&:hover
			background-color: #282d30
			color: white
			border-radius: 15px
			cursor: pointer

.footer
	padding: 35px 0px
	background-color: #282d30
	&-des
		color: #ffffff
		font-size: 11px
		text-align: center
		display: flex
		justify-content: center
		align-items: center

@media (max-width: 920px)
	.auto-stock
		.table-header
			.p-one
				margin-right: 10px
	.list-description
		margin-right: 10px
@media (max-width: 850px)
	.choose
		margin-bottom: 100px

@media (max-width: 720px)
	.choose
		margin-bottom: 40px
	.auto-stock
		margin-bottom: 425px
		.table-header
			.p-one
				padding-left: 15px
				flex-basis: 43%
			.p-year
				flex-basis: 3.5%
				margin-right: 20px
			.p-color
				flex-basis: 3.5%
				margin-right: 14px
			.p-status
				flex-basis: 16%
			.p-price
				flex-basis: 34%
				padding-left: 10px
	.list-description
	   flex-basis: 43%
	   padding-left: 15px
	   white-space: nowrap
	   overflow: hidden
	   text-overflow: ellipsis
	   span
	   	white-space: normal
	.list-year
		flex-basis: 3.5%
		margin-right: 20px
	.list-color
		flex-basis: 3.5%
		margin-right: 24px
	.list-status
		flex-basis: 16%
	.list-price
		flex-basis: 19%
		padding-left: 10px
	.list-btn
		flex-basis: 15%
@media (max-width: 600px)
	.auto-stock
		&_title
			display: none
		.table-header 
			display: none
	.choose
		margin-bottom: 55px
		&-form 
			.third-line 
				#white + label
					margin-right: 10px
				#black + label
					margin-right: 10px
				#gray + label
					margin-right: 10px
				#red + label
					margin-right: 10px
	.header
		height: 91px
		.logo
		   margin: 0 auto
		   max-width: 450px
		.logo-img
		   width: 100%
@media (max-width: 550px)
	.auto-stock
		margin-bottom: 0
		font-size: 14px
		.container
			background-color: #f5f6f6
	.list-price
		font-size: 14px
	.list-all
		flex-wrap: wrap
		justify-content: space-between
	.list-description
		order: 1
		flex-basis: 48%
		margin-right: 0
		padding-left: 5px
		white-space: normal
	.list-color
		order: 2
		align-self: auto
		&_w
			transform: translateY(20%)
	.list-price
		order: 3
		padding: 0
	.list-year
		order: 4
		margin-right: 15px
	.list-status
		order: 5
		flex-basis: 20%
		margin-top: 25px
		padding-left: 5px
	.list-btn
		order: 6
@media (max-width: 500px)
	.choose
		margin-top: 47px
		&-title
			margin-bottom: 47px
		&-form 
			.first-line
				flex-wrap: wrap
				&_wrap
					margin-right: 0
					max-width: 48%
				&_name
					max-width: 100%
					margin-bottom: 30px
				&_year
					margin-right: 4%
			.third-line
				flex-wrap: wrap
				margin-top: 40px
				.color
					max-width: 100%
					margin-right: 0
					margin-bottom: 30px
					position: relative
					.name-color
						bottom: 100%
				#select
					max-width: 48%
					margin-right: 4%
					padding-left: 5px
				.choose-btn
					max-width: 48%
	.list-color
		margin-right: 0
	.list-price
		flex-basis: 25%
	.list-status
		flex-basis: 25%
@media (max-width: 420px)
	.header
		height: 81px
		.logo
			max-width: 297px
			&-img
				margin-top: 15px
	.choose
		margin-top: 30px
		&-title
			margin-bottom: 30px
	.list-description
		flex-basis: 47%
		margin-right: 4%
	.list-year
		flex-basis: 15.6666%
		margin-right: 0
		padding-left: 5px
	.list-color
		// flex-basis: 11.75%
		flex-basis: 5.75%
	.list-status
		flex-basis: 47.3333%
		padding-left: 0
	.list-price
		flex-basis: 35.25%
		padding-left: 8%
	.list-btn
		flex-basis: 20%
@media (max-width: 350px)
	.list-price
		padding-left: 4%
